In [1]:
num =  int(input("Enter the number of days :"))

year = int(num/365)
week = int((num%365)/7)
days = int((num%365)%7)

print("Total number of year(s):" , year)
print("Total number of Week(s):" , week)
print("Total number of Day(s):" , days)

Enter the number of days : 5

Total number of year(s): 0
Total number of Week(s): 0
Total number of Day(s): 5

In [3]:
basic = float(input("Enter the Basic salary :-"))
if basic <= 10000:
    da = basic * 0.8
    hra = basic * 0.2
elif  basic <= 20000:
    da = basic * 0.9
    hra = basic * 0.3
else:
    da = basic * 0.95
    hra = basic * 0.3
gross = basic + da + hra
print("Gross salary of employee is:" , gross)

Enter the Basic salary :- 70000

Gross salary of employee is: 157500.0

In [7]:
Electric_Units = int(input(" Enter units:- "))
print("Units:- " , Electric_Units)

if Electric_Units <= 50:
    T_Bill = Electric_Units * 0.50 + 0.17 * Electric_Units
    print(T_Bill)
elif Electric_Units <= 150:
    T_Bill = Electric_Units * 0.75 + 0.17 * Electric_Units
    print(T_Bill)
elif Electric_Units <= 250:
    T_Bill = Electric_Units * 1.25 + 0.17 * Electric_Units
    print(T_Bill)
else:
    if Electric_Units <= 250:
        T_Bill = Electric_Units * 1.50 + 0.17 * Electric_Units
        print(T_Bill)

 Enter units:-  70

Units:-  70
64.4

In [9]:
rows = 6 
for i in range(rows):
    for j in range(i):
        print(i, end = ' ')
    print ('')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [13]:
num = int(input("Enter any number : "))
temp = num
product = 1
while(temp != 0):
    product = product * (temp % 10)
    temp = int(temp / 10)
print("\nProduct of all digits in", num , product)

Enter any number :  12543

Product of all digits in 12543 120

In [17]:
x =  [45, 67, 12, 'Hello', 23.45, 'World']
print(x)

names = ['Ganesh' , 'Saurabh' , 'Chaitanya']
print(names)
[n.upper() for n in names]
a = 56 in x
print(a)
rev = x[::-1]
print(rev)
if 'Hello' in x :
     x.remove('Hello')
print(x)
x. insert(4, 36)
print(x)
list= x[2:5]
x.append([34,'Pune'])
print(x)
x.pop()

[45, 67, 12, 'Hello', 23.45, 'World']
['Ganesh', 'Saurabh', 'Chaitanya']
False
['World', 23.45, 'Hello', 12, 67, 45]
[45, 67, 12, 23.45, 'World']
[45, 67, 12, 23.45, 36, 'World']
[45, 67, 12, 23.45, 36, 'World', [34, 'Pune']]

[34, 'Pune']

In [19]:
t = (32.45,42.67,26.00,86.35,69.07)

print(t)

a = list(t)

a.sort()

t = tuple(a)

print(t)

contains = 50 in a

print(contains)

a = set(t)

a

(32.45, 42.67, 26.0, 86.35, 69.07)

TypeError: 'list' object is not callable

In [21]:
dic= {'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'k': 'king'}

print(dic)

dic['k']

dic['z']= 'ZEbra'

print(dic)

dic['d']= 'dog'

print(dic)

print('Length of dictionary' , len(dic))

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'k': 'king'}
{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'k': 'king', 'z': 'ZEbra'}
{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog', 'k': 'king', 'z': 'ZEbra'}
Length of dictionary 6

In [23]:
# 9. Write a program to find the second largest element in a list.

list1 = [10 , 20 , 4, 45 , 99]
print(list1)
list1.sort(reverse = True)
print("SECOND LARGEST ELEMENT IN THE LIST IS :")
list1[1]

[10, 20, 4, 45, 99]
SECOND LARGEST ELEMENT IN THE LIST IS :

45

In [27]:
metals = ['silver' , 'gold' , 'iron' , 'aluminium' , 'copper' , 'brass' , 'bronze']
print(metals)
metals1 = [ n for n in metals if n != 'aluminium']
print(metals1)

['silver', 'gold', 'iron', 'aluminium', 'copper', 'brass', 'bronze']
['silver', 'gold', 'iron', 'copper', 'brass', 'bronze']